::selection {
	color: none;
	background: none;
}
body{
	cursor: default;
}
img.mascots{
	position: absolute;
	width: 110px;
	right: -12px;
	top: -32px;
}
.kardicon{
	position: absolute;
	left: 3px;
	top: 0px;
	opacity: 0.5;
}